[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "==0.0.171"
python-dotenv = "*"
sentence-transformers = "*"
pygpt4all = "*"
openai = "*"
pypdf = "*"
lark = "*"
chromadb = "*"
tiktoken = "*"

[dev-packages]

[requires]
python_version = "3.10"
